@media (max-width: 768px) {
  .wrapper {
    width: 100%;
  }

  .wrapper-inner {
    width: 688px;
  }  

  .column_30 {
    width: 43.604651%;
  }

  .service__column_30 {
    flex: 1 0 43%;
  }

  .portfolio__column_25 {
    flex: 1 0 23%;
  }

  .contact-section__column_70 {
    flex: 1 0 64%;
    margin-right: 29px;
  }

  .contact-form__button {
    width: 50%;
  }

  .slider__arrow {
    top: 38%;
  }

  .slider__arrow_prev {
    left: 30px;
  }

  .slider__arrow_next {
    right: 27px;
  }

  .iphone__body,
  .iphone__shadow {
    transform: scale(0.754);
  }

  .iphone__shadow {
    top: 2px;
    left: -4px;
  }

  .iphone__background {
    transform: scale(0.759);
    top: 70px;
  }

  .hero {
    min-height: 451px;
  }

  .slider__slide {
    height: 451px;
  }

  .slider__iphone {
    top: -36px;
    left: 58px;
  }

  .slider__iphone_horizontal {
    top: 93px;
    left: 724px;
  }

  .slider__iphone_horizontal .iphone__background {
    transform: rotate(-90deg) scale(0.759);
    top: 142px;  
  }

  .slider__iphone_horizontal .iphone__shadow {
    top: -23px;
    transform: rotateX(180deg) scale(0.755);
  }

  #iphone-3 {
    top: -30px;
    left: 126px;
  }

  #iphone-3 .iphone__background {
    top: 78px;
    left: 17px;
  }
  
  #iphone-4 {
    top: 95px;
    left: -139px;
  }

  #iphone-5 {
    top: 95px;
    right: -134px;
  }

}

@media (max-width: 375px) {
  .wrapper-inner {
    width: 314px;
  }

  .service__column_30 {
    flex: 0 0 95%;
  }

  .portfolio__column_25 {
    flex: 1 0 46%;
  }

  .portfolio__item:nth-of-type(n+9) {
    display: none;
  }

  .portfolio__item:not(:nth-of-type(2n+2)) {
    margin-right: 20px;
  }

  .service__content {
    width: 70.063694%;
  } 

  .team-member__column_30 {
    flex: 1 0 100%;
  }

  .contact-section__column_70 {
    flex: 1 0 100%;
    margin-right: 0px;
    margin-bottom: 32px;
  }

  .contact-section__column_70 {
    flex: 1 0 100%;
  }

  .contact-form__button {
    width: 100%;
  }

  .footer-info__column_50 {
    flex: 1 0 100%;
  }

  .footer-info__column_50:first-child {
    display: none;
  }

  .footer__social {
    float: none;
    text-align: center;
  }

} 

@media (min-width: 769px) {
  .portfolio__item:not(:nth-of-type(4n+4)) {
    margin-right: 20px;
  }

  .service__column_30:not(:nth-of-type(3n+3)) {
    margin-right: 20px;
  }

  .team-member__column_30:not(:nth-of-type(3n+3)) {
    margin-right: 20px;
  }
  
}

@media (min-width: 376px) and (max-width: 768px) {
  .portfolio__item:not(:nth-of-type(3n+3)) {
    margin-right: 20px;
  }

  .service__column_30:not(:nth-of-type(2n+2)) {
    margin-right: 20px;
  }

  .team-member__column_30:not(:nth-of-type(3n+3)) {
    margin-right: 14.6px;
  }

}

@media (min-width: 376px) {
  .portfolio__item:nth-of-type(n+13) {
    display: none;
  }
}

