/** Styles reset **/

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/** End - Styles reset **/

/** Layout **/

/* -- Wrapper -- */

.wrapper {
  width: 1020px;
  margin: 0 auto;
}

/* -- Wrapper Header -- */
.wrapper-header {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 4;
}

/* -- Wrapper inner -- */

.wrapper-inner {
  width: 940px;
  margin: 0 auto;
}

/* -- Row -- */

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* -- Column -- */

.column_30 {
  width: 31.914893%;
}

.column_50 {
  width: 48.936170%;
}

.column_70 {
  width: 65.957446%;
}

/* -- Top spacer -- */

.top-spacer {
  padding-top: 19px;
}

/** End - Layout **/

/** Modules **/

/* -- Title-hidden -- */

.title-hidden {
  position: absolute;
  left: -1px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

/* -- Logo -- */

.logo {
  font-size: 25px;
  font-family: "Lato", "Helvetica", sans-serif;
  letter-spacing: -0.4px;
  text-transform: uppercase;
}

.logo__link {
  color: #ffffff;
  text-decoration: none;
}

.logo__link_highlight {
  color: #f06c64;
}

/* -- Navigation -- */

.navigation {
  display: flex;
  justify-content: space-evenly;
  font-size: 12px;
  font-family: "Lato", "Helvetica", sans-serif;
  letter-spacing: -0.1px;
}

.navigation__item {
  margin-left: 10px;
  list-style: none;
}

.navigation__item:not(:last-child):after {
  content: "\00B7";
  color: #494e62;
}

.navigation__link {
  padding: 15px 13px 15px 4px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}

.navigation__link:hover,
.navigation__link:active,
.navigation__link_active {
  color: #f06c64;
}

/* -- Navigation Anchor -- */
.navigation-anchor {
  display: block;
  position: relative;
  top: -95px;
  visibility: hidden;
}

/* -- iPhone -- */

.iphone {
  position: relative;
  display: inline-block;
}

.iphone__background {
  top: 65px;
  left: 14px;
  width: 188px;
  height: 333px;
  overflow: hidden;
}

.iphone__body, 
.iphone__shadow, 
.iphone__background {
  position: absolute;
}

.iphone__body, 
.iphone__background {
  z-index:2;
}

.iphone-background-img {
  position: relative;
  top: -135px;
  left: -14px;
}

.iphone__background_hidden {
  display: none;
}

.iphone-home-img {
  position: relative;
  bottom: 55px;
  left: 86px;
  cursor: pointer;
}

/* -- Slider -- */

.slider {
  position: relative;
  height: 600px;
  overflow: hidden;
}

.slider__slide {
  position: relative;
  display: none;
  height: 600px;
  background-color: #f06c64;
  border-bottom: 6px solid #ea676b;
  animation: 0.5s ease-in-out;
}

.slider__slide_colored {
  background-color: #648bf0;
  border-bottom: 6px solid #5677cd;
}

.slider__slide_active {
  display: block;
}

.slider__slide_next {
  position: absolute;
  top: 0;
  width: 100%;
  display: block;
}

.slider__iphone {
  top: 39px;
  left: 112px;
}

.slider__iphone_horizontal {
  top: 160px;
  left: 879px;
}

.slider__iphone_horizontal {
  transform: rotate(90deg);
}

.slider__iphone_horizontal .iphone__shadow {
  left: 0px;
  top: -30px;
  transform: rotateX(180deg);
}

.slider__iphone_horizontal .iphone__background {
  top: 137px;
  left: -58px;
  height: 189px;
  width: 333px;
  transform: rotate(-90deg);
}

.slider__iphone_horizontal .iphone-background-img {
  top: -119px;
  left: -125px;
}

.slider__arrow {
  position: absolute;
  top: 49%;
  width: 10%;
  height: 40%;
  transform: translateY(-50%);
  cursor: pointer;
}

.slider__nav_prev {
  left: 0;
}

.slider__nav_next {
  right: 0;
} 

.slider__arrow_prev,
.slider__arrow_next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.slider__arrow_prev {
  left: 42px;
}

.slider__arrow_next {
  right: 40px;
}

/* -- Slide Animations -- */

.slide-to-left {
  animation-name: left;
}

.slide-to-right {
  animation-name: right;
  animation-direction: reverse;
}

.slide-from-left {
  animation-name: left;
  animation-direction: reverse;
}

.slide-from-right {
  animation-name: right;  
}

@keyframes left {
  from {
    left: 0;
  }
  to {
    left: -100%;
  }
}

@keyframes right {
  from {
    left: 100%;
  }
  to {
    left: 0;
  }
}

/* -- Slides -- */

#hero__slide-2 .slider__iphone {
  margin: 0 auto;
  display: block;
}

#iphone-3 {
  top: 39px;
  width: 255px;
  z-index: 3;
  transform: translateX(-50%);
}

#iphone-4 {
  top: 151px;
  left: -198px;
  width: 157px;
}

#iphone-5 {
  top: 151px;
  right: -165px;
  left: auto;
  width: 157px;
}

#iphone-3 .iphone-home-img {
  bottom: 84px;
  left: 92px;
}

#iphone-3 .iphone__background {
  top: 69px;
  left: 14px;
  width: 201px;
  height: 354px;
}

#iphone-3 .iphone-background-img {
  top: 0; 
  left: 0;
}

/* -- Service -- */

.service-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 19px 0;
}

.service {
  padding-bottom: 19px;
}

.service__icon {
  float: left;
  padding-top: 3px;
}

.service__title {
  margin: 0;
  font-weight: 900;
  font-size: 18px;
  letter-spacing: -0.1px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.service__content {
  float: right;
  width: 73.33333333%;
}

.service__text {
  height: 63px;
  margin-top: 9px;
  font-size: 12px;
  font-family: "Lato", "Helvetica", sans-serif;
  line-height: 21px;
  text-align: justify;
  overflow: hidden;
}

.service__column_30 {
  flex: 1 0 31%;
}

/*-- Tags --*/

.tags {
  display: inline-block;
  margin: 0;
  padding: 0;
  font-family: "Lato", "Helvetica", sans-serif;
  font-size: 12px;
  list-style: none;
}

/*-- Tag --*/

.tag {
  float: left;
  margin-right: 10px;
}

.tag:last-child {
  margin-right: 0;
}

.tag__link {
  padding: 2px 7px 3px;
  letter-spacing: -0.2px;
  color: #666d89;
  text-decoration: none;
  border: 1px solid #666d89;
  border-radius: 5px;
}

.tag:focus, .tag__link:focus {
  outline: none;
}

.tag_active, 
.tag__link:hover {
  color: #c5c5c5;
  border-color: #c5c5c5;
}

/*-- Team member --*/

.team-member-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.team-member__column_30 {
  flex: 1 0 31%;
  margin-bottom: 34px;
}

.team-member__image {
  width: 100%;
}

.team-member__name {
  margin: 13px 0 8px;
  letter-spacing: -0.3px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.team-member__description {
  margin-top: 0;
  margin-bottom: 24px;
  font-size: 12px;
  line-height: 21px;
  letter-spacing: -0.15px;
}

/* -- Contact form -- */

.contact-form {
  padding-top: 7px;
}

.contact-form__input {
  display: block;
  width: 100%;
  margin-bottom: 15px;
  padding: 13px 15px;
  font-size: 12px;
  color: #f0d8d9;
  background-color: #d6564f;
  border: none;
  border-radius: 5px;
}

.contact-form__input:focus {
  outline: none;
}

.contact-form__input::placeholder {
  color: #f48c8f;
}

.contact-form__input::-ms-input-placeholder {
  color: #f48c8f;
}

.contact-form__textarea {
  padding: 10px 15px;
  resize: none;
}

.contact-form__button {
  display: block;
  width: 40%;
  margin: 0 auto;
  padding: 8px 15px;
  font-size: 14px;
  color: #f0d8d9;
  background-color: #d6564f;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.contact-form__button:focus {
  outline: none;
}

/*-- Social links --*/

.social-links__link {
  margin-right: 4px;
}

/* -- Contact info -- */

.contact-info {
  margin-top: 19px;
}

.contact-info__link {
  display: block;
  padding: 4px 0;
  color: #f0d8d9;
  font-size: 12px;
  line-height: 13px;
  letter-spacing: -0.2px;
  text-decoration: none;
}

/* -- Icon -- */

.icon {
  display: inline-block;
  width: 13px;
  height: 12px;
  margin-right: 7px;
  background-position: bottom center;
  background-repeat: no-repeat;
}

.icon_location {
  background-image: url("./assets/img/icons/location.png")
}

.icon_phone {
  background-image: url("./assets/img/icons/phone.png")
}

.icon_mail {
  background-image: url("./assets/img/icons/mail.png")
}

/** End - Modules **/

/** Sections **/

/* -- Header -- */

.header {
  height: 95px;
  background-color: #2d303a;
  border-bottom: 6px solid #323746;
}

.header__logo {
  float: left;
  width: 198px;
  height: 95px;
  padding-top: 30px;
  text-align: center;
}

.header__navigation {
  padding: 31px 27px;
}

.header__navigation .navigation {
  float: right;
}

/* -- Hero -- */

.hero {
  min-height: 600px;
}

/* -- Services -- */

.services {
  padding: 40px 0 12px;
  font-family: "Lato", "Helvetica", sans-serif;
  color: #666d89;
  background-color: #f2f2f2;
  border-bottom: 6px solid #ffffff;
}

.services__title {
  margin: 20px 0;
  font-weight: 900;
  font-size: 30px;
  letter-spacing: 0.1px;
}

.services__text {
  margin-bottom: 24px;
  font-weight: 300;
  font-size: 17px;
  letter-spacing: 0.38px;
  line-height: 30px;
}

/* -- Portfolio -- */

.portfolio {
  padding: 40px 0 67px;
  font-family: "Lato", "Helvetica", sans-serif;
  color: #666d89;
  background-color: #2d303a;
  border-bottom: 6px solid #323746;
}

.portfolio__title {
  margin: 20px 0 19px;
  font-weight: 900;
  font-size: 30px;
  letter-spacing: 0.2px;
}

.portfolio__text {
  margin-bottom: 0;
  font-size: 18px;
  letter-spacing: -0.3px;
  line-height: 30px;
}

.portfolio__tags {
  padding: 13px 0 1px 1px;
}

.portfolio__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden;
}

.portfolio__item {
  max-height: 187px;
  margin-top: 20px;
  overflow: hidden;
}

.portfolio__image {
  width: 100%;
}

.portfolio__item_active {
  border: 5px solid #f06c64;
}

.portfolio__item_hidden {
  display: none;
}

.portfolio__column_25 {
  flex: 1 0 23%;
}

/*-- About Us --*/

.about-us {
  padding: 40px 0 30px;
  font-family: "Lato", "Helvetica", sans-serif;
  color: #666d89;
  background-color: #f2f2f2;
  border-bottom: 6px solid #ffffff;
}

.about-us__title {
  margin: 20px 0;
  font-weight: 900;
  font-size: 30px;
}

.about-us__text {
  margin-bottom: 25px;
  font-weight: 300;
  font-size: 17px;
  letter-spacing: 0.38px;
  line-height: 30px;
}

/* -- Contact us -- */

.contact-us {
  padding: 40px 0 20px;
  font-family: "Lato", "Helvetica", sans-serif;
  color: #f0d8d9;
  background-color: #f06c64;
  border-bottom: 6px solid #ea676b;
}

.contact-us__title {
  margin: 20px 0 19px;
  font-weight: 900;
  font-size: 30px;
  letter-spacing: -0.1px;
}

.contact-us__text {
  margin-top: 10px;
  font-size: 18px;
  font-weight: 300;
  font-family: "Lato", "Helvetica", sans-serif;
  line-height: 30px;
  text-align: justify;
  letter-spacing: -0.2px;
}

.column__title {
  margin: 0;
  font-weight: 900;
  font-size: 18px;
  letter-spacing: -0.1px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.column__title_contact {
  margin-top: 6px;
  letter-spacing: 0;
}

.column__text {
  height: 63px;
  margin-top: 9px;
  font-size: 12px;
  font-family: "Lato", "Helvetica", sans-serif;
  line-height: 21px;
  text-align: justify;
  overflow: hidden;
}

.column__text_contact {
  height: auto;
  overflow: visible;
  line-height: 22px;
  letter-spacing: -0.1px;
}

/* -- Footer -- */

.footer {
  height: 76px;
  background-color: #2d303a;
}

.footer__social {
  position: relative;
  top: 3px;
  left: 2px;
  float: right;
}

.footer__social-link {
  margin: 0;
  padding: 2px;
}

.footer__copyright {
  margin: 12px 0 0 2px;
  font-size: 12px;
  font-family: "Lato", "Helvetica", sans-serif;
  letter-spacing: -0.2px;
  color: #666d89;
}

/** End - Sections **/

/* -- Submit Message -- */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
  width: 100vw;
  height: 100vh;
  background-color: rgba(11, 11, 11, 0.8);
  transition: all 0.5s ease-in-out;
}

.submit-message {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 500px;
  padding: 20px 20px 10px;
  transform: translate(-50%, -50%);
  font-size: 14px;
  color: #666d89;
  background-color: #f2f2f2;
  border-bottom: 6px solid #ffffff;
  border-radius: 10px;
}

.submit-message__title {
  margin-top: 0;
  font-size: 18px;
}

.submit-message__button {
  display: block;
  width: 40%;
  margin: 30px auto 0;
  padding: 8px 15px;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.8px;
  color: #666d89;
  background-color: #dcdcdc;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-message__button:focus {
  outline: none;
}

.modal-overlay_hidden {
  display: none;
}